#myli-bar {
	direction: ltr;
	padding-left:20px;
	padding-right:20px;	
	color: #666;
	height: 55px;
	position: fixed;
	top: 0;
	left: 0;
	padding-top:5px;
	width: 100%;
	min-width: 600px;
	z-index: 99998;
	background: #fff;
	box-shadow: 0 2px 8px 0 rgba(76,81,89,0.15);
	-webkit-box-shadow: 0 2px 8px 0 rgba(76,81,89,0.15);
	-moz-box-shadow: 0 2px 8px 0 rgba(76,81,89,0.15);	
}

#myli-bar ul{
	list-style: none;
}

#myli-bar li{
	border-right: 1px solid rgba(76,81,89,0.15);
	padding-right:21px;
	height:23px;
	display: inline-block;
	float:left;
	max-width:200px;
}

#myli-bar svg{
	margin-right:4px;
}

#myli-bar img{
	margin-right:10px;
	height:30px;
	width:30px;
	border-radius:90px;
}

#myli-bar .userdata, #myli-bar, #myli-bar .userdata div{
	float:left;
}

#myli-bar .login{
	float:right;
}

.myli-head {
	z-index: 99998;
}

.myli-head span{
	margin-right:10px;
}

.myli-logout{
	float:right;
}

.myli-head a{
	color:#666;
}

@media only screen and (max-width: 600px) {
    #myli-bar {
		z-index: 999 !important;
		top:50px !important;
		padding-left:5px;
		padding-right:5px;	
	}
	
	#myli-bar li {
		margin-right:0px !important;
	}
	
	#myli-bar .login {
		float: none !important;
	}

}
	
	
}

		